APP_HOST=0.0.0.0
APP_PORT=8000
MAX_UPLOAD_BYTES=20971520
UPLOAD_RATE_LIMIT_MAX_REQUESTS=20
UPLOAD_RATE_LIMIT_WINDOW_SECONDS=60
ACCESS_TOKEN_TTL_SECONDS=86400
TASK_STORE_TTL_SECONDS=3600
TASK_STORE_MAX_ITEMS=2000
MARKDOWN_PREVIEW_MAX_CHARS=20000
STORAGE_DIR=storage
